<!-- <h1>Confirmation Instructions</h1>

<p>
 Please click on the https://limitless-brook-27912.herokuapp.com/<%#= @path %>/confirm/<%#= @token %> to confirm. Thank You!
</p> -->


Dear <%= @user.full_name %><br><br>
Your account verification is pending. You need to verify to be able to use your account to its full capacity. Please verify your email address by clicking the link below.<br><br>

https://limitless-brook-27912.herokuapp.com/<%= @path %>/confirm/<%= @token %><br><br>

If you’re facing some issue regarding account verification, please get in touch with our support team at support@custumise.com. They will get back to you shortly.<br><br>

Thank you<br><br>

Regards<br>
Team Custumise
