Dear <%= @user.full_name %>,<br><br>

Your account verification is pending. Please verify your email address by clicking <a href="<%= @path %>/confirm/<%= @token %>">here</a>.<br><br>
If you’re facing some issue regarding account verification, please get in touch with us at support@custumise.com. We will get back to you shortly.<br><br>

Thank you<br><br>

Regards<br>
Team Custumise
