<!-- <h1>Password Reset Instructions</h1>

<p>
 Please click on the https://limitless-brook-27912.herokuapp.com/<%#= @path %>/reset-password/<%#= @token %> to reset your password. Thank You!
</p>
 -->

Dear <%= @user.full_name%>

You have requested for password reset. Please click on the link below to reset your password.

https://limitless-brook-27912.herokuapp.com/<%= @path %>/reset-password/<%= @token %>

If you’re facing some issue resetting your password, please get in touch with our support team at support@custumise.com. They will get back to you shortly.

Thank you

Regards
Team Custumise