<h1>Password Reset Instructions</h1>

<p>
 Please click on the https://custumiseapi-env.gpmw6833qc.ap-south-1.elasticbeanstalk.com/<%= @path %>/reset-password/<%= @token %> to reset your password. Thank You!
</p>
