<!-- <h1>Password Reset Instructions</h1>

<p>
 Please click on the https://limitless-brook-27912.herokuapp.com/<%#= @path %>/reset-password/<%#= @token %> to reset your password. Thank You!
</p>
 -->

Dear <%= @user.full_name%><br><br>

You have requested for password reset. Please click on the link below to reset your password.<br><br>

<!-- https://limitless-brook-27912.herokuapp.com/<%#= @path %>/reset-password/<%#= @token %><br><br> -->

<a href="<%= @path %>/confirm/<%= @token %>">Click Here</a><br><br>

If you’re facing some issue resetting your password, please get in touch with our support team at support@custumise.com. They will get back to you shortly.<br><br>

Thank you<br><br>

Regards<br>
Team Custumise