<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="push-center">
        <% if support_signed_in? %>
          <%= link_to 'Home', support_root_path, class: 'brand-logo' %>
        <% else %>
          <%= link_to 'Home', root_path, class: 'brand-logo' %>
        <% end %>
      </div>
      <div class="th-nav">
        <ul class="right hide-on-med-and-down">
          <%= render 'shared/navlinks' %>
        </ul>
      </div>
    </div>
  </nav>
</div>
