<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">

			body
			{
				background-color: #f1f1f1;
			}

			.container {
			    border: 2px solid #dedede;
			    background-color: #f1f1f1;
			    border-radius: 5px;
			    padding: 10px;
			    width: 100%;
			}	

			.darker {
			    border-color: #ccc;
			    background-color: #ddd;
			}

			.container img {
			    float: left;
			    max-width: 60px;
			    width: 100%;
			    margin-right: 20px;
			    border-radius: 50%;
			}

			.container img.right {
			    float: right;
			    margin-left: 20px;
			    margin-right:0;
			}

			.time-right {
			    float: right;
			    color: #aaa;
			    margin-top: -10px;
			}

			.time-left {
			    float: left;
			    color: #999;
			    margin-top: -10px;
			}
		</style>
		
	</head>
	<body>
		<div class="row" style="position:fixed">
  		<div class="col s3"></div>
  		<div class="col s9"><h5>CHAT MESSAGES</h5></div>
  	</div>
		<ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">
      <li class="bold"><a href="#" class="waves-effect waves-teal"><h5>Custumise Chat</h5></a></li>
      <br><br>
      <li class="bold"><a href="#" class="waves-effect waves-teal">General Chat</a></li>
      <li class="bold"><a href="/users" class="waves-effect waves-teal">Users</a></li>
      <li class="bold"><a href="/designers" class="waves-effect waves-teal">Designers</a></li>
      <li class="bold"><a href="/requests" class="waves-effect waves-teal">Requests</a></li>
     </ul>
  	
  	<div class="row">
      <div class="col s3"></div>
      <div class="col s9">
				<div class="container">
				<i class="material-icons">account_circle</i>
				<p>Hello. How are you today?</p>
				<span class="time-right">11:00</span>
				</div>
				<br>
				<div class="container darker">
				<i class="material-icons right">account_circle</i>
				<p>Hey! I'm fine. Thanks for asking!</p>
				<span class="time-left">11:01</span>
				</div>
				<br>
				<div class="container">
				<i class="material-icons">account_circle</i>
				<p>What plans for today?</p>
				<span class="time-right">11:02</span>
				</div>
				<br>
				<div class="container darker">
				<i class="material-icons right">account_circle</i>
				<p>Play soccer or learn more coding mayb</p>
				<span class="time-left">11:05</span>
				</div>
				<br><br>
      </div>
    </div>
    <div class="row">
    	<div class="col s3"></div>
    	<div class="col s7">
    		<textarea rows="3" cols="100"></textarea>
    	</div>	
    	<div class="col s2">
    		<a class="waves-effect waves-light btn" style="width: 100%">Send Message</a>
    	</div>
    </div>
          
	</body>
</html>









