@import "materialize/components/color";
// $primary-color: color("purple", "darken-4") !default;
$primary-color: #37284d !default;
$secondary-color: #eaa508 !default;
$link-color: color('blue', 'darken-2') !default;
$bg-color: color('teal', 'lighten-2') !default;
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.push-center {
  padding-left: 15%;
}

.password-container {
  overflow: hidden;
  position: relative;
}

.password-toggle {
  position: absolute;
  bottom: 33%;
  right: 4%;
  z-index: 10;
}

.bottom-pad-button {
  padding-bottom: 5%;
}

.flat-button {
  border: 0.1rem solid $primary-color;
  border-radius: 0.3rem;
}

.toast-flash {
  border-radius: 0.5rem;
}

.toast-success {
  background-color: #007E33;
}

.toast-error {
  background-color: #CC0000;
}

.toast-alert {
  background-color: #FF8800;
}

.toast-notice {
  background-color: #0099CC;
}

.vertical-spacer-5 {
  margin-bottom: 5%;
}

.bold-text {
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}
