<div class="row">
  <h3 class="center">Users</h3>
</div>

<div class="row">
  <% if @users.present? %>
    <%= render 'table', users: @users %>
      <% else %>
    <h4>No users present in the database</h4>
  <% end %>
</div>
